@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply overflow-x-clip scroll-smooth;
}

h1,
h2,
h3 {
  @apply font-title text-pink-900;
}

h1 {
  @apply text-4xl font-bold lg:text-7xl lg:leading-snug;
}

h2 {
  @apply text-3xl;
}

p,
a {
  @apply font-body text-lg text-gray-500;
}

.embla__slide {
  @apply mx-8 flex select-none flex-col gap-8 rounded-md bg-white p-8;
  flex: 0 0 40%;
}

@media (max-width: 992px) {
  .embla__slide {
    flex: 0 0 70%;
  }
}

@media (max-width: 420px) {
  .embla__slide {
    flex: 0 0 95%;
  }
}
